.card-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
    top: 150px; /* This is added to align the container to the top of the screen */
    left: 0; /* This is added to align the container to the left of the screen */
    transform: none; /* This is modified to remove the centering */
    padding: 32px; /* This is added to give some padding around the container */
    overflow: auto; /* This is added to prevent scrolling on the container */
  }

  .card-container::before {
    content: '';
    position: absolute;
    height: 170%;
    top: 150px;
    left: 0;
    overflow-y: auto;
    z-index: -1;
    padding: 32px;
    box-sizing: border-box;
  }
}
